<% if (project.logo) { %>
  <a href="/" title="CY AUDIO" class="title" aria-label="Click to return to homepage" title="Click to return to homepage"><img src="<%= project.logo %>" alt="Logo" class="logo"><img src="https://h8k56.github.io/Cypriot_Audio_Files/Gemini_image.jpg" alt="CY AUDIO AI" class="fix-it-logo" aria-label="Click to return to homepage"></a>
<% } else { %>
  <h1 class="title" aria-label="Click to return to homepage" title="Click to return to homepage"><a href="/"><%= project.name %></a></h1>
<% } %>
